.contacto__rapido{
	background-color: #bdb5b5;;
	height: 30px;
	display: flex;
}
.contacto__rapido p{
	margin-left: 64px;
}
.contacto__rapido i{
	margin: 10px;
}
.contacto__rapido a{
		color: #000;
}

.laboral{
	display: inline-block;
	width: 100%;
  	margin: auto;
    overflow: hidden;
    position: absolute;
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
}
.pregunta{
	height: 100px;
	background-color: orange;
	margin: 10px;
	border-radius: 20px;
	margin-right: 20%;
	margin-left: 20%;
	width: 70%;
}
.pregunta h2{
	text-align: center;
	font-size: 24px;
	padding-top: 15px;
}
.pregunta h3{
	text-align: center;
}


.articulo__despido{
	width: 100%;
    padding:52px 0;
    position: absolute;
    background-color: #2a2928;
    color: #fff;
    top: 70%;
}
.titulo{
	position: absolute;
	margin: auto;
	top: 5%;
	margin-left: 20px;
}
.parrafo{
	height: auto;
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
	font-size: 16px;
}

footer {
	display: block;
	cursor:default;
 	background-image: linear-gradient(to right, #434343 0%, black 100%);
 	padding: .5rem .8rem;
 	position: relative;
 	top: 870px;
}
footer p {
	color: rgba(255,255,255,9);
	font-family: 'segoe ui';
	text-align: center;
}
.contacto{
	position: relative;
	margin-left: 30px;
	width: 300px;
}
.contacto h4{
	color: #4169E1;
	font-size: 20px;
}

.card__contac h2{
	font-size: 20px;
	color: #a2a2a2;
}
.card__contac h3{
	font-size: 15px;
	color: #d0d0d0;
}
.direccion{
	margin-top: 5px;
}
.telefono{
	margin-top: 15px;
}
.email{ 	
	margin-top: 15px;
}
.derecho__autor{
	cursor:default;
	background-color: #4e4e4e;
	display: flex;
	position: relative;
	top: 868px;
}
.derecho__autor h5{
	margin-top: 10px;
}

.derecho__autor a{
	display: flex;
	margin-top: -3px;
	height: 40px;
	width: 40px;
}
.facebook{
	align-items: center;
  	justify-content: center;
	width: 40px;
    height: 40px;
}

@media (max-width:700px){
	.contacto__rapido{
		position: static;
		display: inline-table;
		width: 100%;
	}
	.contacto__rapido p{
		margin-left: 50px;
	}
	.contacto__rapido i{
		margin: 5px;
	}
	.laboral{
		font-size: 12px;
		display: flex;
		position: absolute;
		margin-left: 10%;
	}
	.pregunta{
		margin: 10px;
	}

	.articulo__despido{
		position: absolute;
		top: 80%;
	}
	.titulo{
		top: 2%;
	}
	.parrafo{
		margin-left: 20%;
		margin-right: 20%;
	}

	footer{
		top: 138%;
		position: absolute;
		width: 100%;
	}
	.derecho__autor{
		display: flex;
		position: absolute;
		top: 162%;
		width: 100%;
	}	
}

@media (max-width: 500px){
	.contacto__rapido{
		position: static;
		display: inline-table;
		width: 100%;
	}
	.contacto__rapido p{
		margin-left: 50px;
	}
	.contacto__rapido i{
		margin: 5px;
	}
	.laboral{
		margin-left: auto;
		position: absolute;
		top: 10px;
	}
	.pregunta{
		width: 100%;
		margin: 5px;
	}
	.pregunta h2{
		font-size: 20px;
	}

	.articulo__despido{
		display: flex;
		position: absolute;
	}
	.titulo{
		top: 2%;
	}
	.parrafo{
		margin-left: 5%;
		margin-right: 5%;
	}

	footer{
		top: 138%;
		position: absolute;
		width: 100%;
	}
	.derecho__autor{
		display: flex;
		position: absolute;
		top: 162%;
		width: 100%;
	}
}

